#wrapper {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90vw;
    height: 90vh;
    margin: 30px auto;
}
div {
    align-self: center;
    border: 1px solid white;
    background-color: antiquewhite;
    
}
